<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>icert.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3729D4951FDEB80400F79A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3729D4A91FDEB80400F79A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3729D4B41FDEB80400F79A43</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
